.csize{
    height: 380px !important;
    width:500px !important;
    margin: auto;
    
    
}
.dt{
    margin: auto;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: snow !important;
    border-radius: 2px !important;
    border-color: white;
}

.dt:hover{
    
    border-color: lightskyblue !important;
}

.name{
    color: white;
    border: 2px !important;
    background-color: rgb(99, 99, 247) !important;
    border-radius: 5px;
    padding: 5px;
    
}
.name:hover{
    background-color: blueviolet !important;
}

.link{
    color: white;
    text-decoration: none;

}

.link:hover{
    color: wheat;
}