.left2{
    width: 40% !important;
    margin-left: 10% !important;
}

.right2{
    
    width: 40% !important;
    
    
}

.brd{
    border: white !important;
    
}

.brd2{
    border:white !important;
}

#fname{
    width: 100%;
}

#mail{
    width: 100%;
}

#number{
    width: 100%;
}

#text{
    width: 100%;
    height: 150%;
}
